@charset "utf-8";

/* フォント読み込み */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* ////////////全体のスタイル /////////////*/
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-image: url(../img/bg01.jpg);
  background-size: cover;
  color: #404040;
}

a { 
  text-decoration: none; 
  color: #fff;
}

/* //////////////コンテンツ全体 ////////////*/
.wrapper {
  width: 680px;
  /* height: 800px; */
  margin: 0 auto;
  padding: 12px;
  background: #F0F0F0;
}

/* 隠すためのクラス */
.delete {
  display: none;
}

/* /////////////index.htmlのスタイル /////////*/

.top_header {
  font-size: 72px;
  margin-left: 24px;
  font-family: 'Fredoka One', cursive;
}

.toppage_img {
  display: flex;
  justify-content: flex-end;
}

.toppage_img img{
  width: 65%;
  margin-bottom: 12px;
}

.help_btn {
  width: 60%;
  height: 48px;
  background-color: #03588C;
  box-shadow: 3px 3px #024059;
  border-radius: 20px;
  margin: 12px auto;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start_btn {
  width: 60%;
  height: 56px;
  border-radius: 20px;
  margin: 12px auto;
  background-color: #03588C;
  box-shadow: 3px 3px #024059;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* /////////////問題部分 ///////////////*/
#question {
  margin-top: 12px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
}

#question img {
  width: 60%;
}

#answer_2 {
  margin-bottom: 200px;
}

/*///////////// 回答ボタン ////////////////*/
#quiz_number {
  font-family: 'Fredoka One', cursive;
  font-size: 48px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

li {
  list-style: none;
}

button {
  width: 400px;
  height: 50px;
  margin: 10px;
  border: 2px solid #404040;
  background: #fff;
  cursor: pointer;
}

/*/////////// 結果部分 ///////////*/

.modal_screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, 0.7);
}

.result_inner {
  margin: 32px auto;
  width: 480px;
  height: 640px;
  background: #F0F0F0;
}

.result_inner p {
  font-weight: bold;
  font-size: 56px;
  text-align: center;
  padding-top: 32px;
  margin-bottom: 24px;
  
}

.result_inner img {
  width: 70%;
  margin: 0 auto;
}

.next_btn {
  width: 70%;
  line-height: 56px;
  margin: 12px auto;
  border-radius: 10px;
  background-color: #404040;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

.next_btn:hover,
.help_btn:hover,
.start_btn:hover {
  opacity: 0.8;
}


/* /////////ギャラリーモード /////////*/
#gallery_btn{
  margin-bottom: 32px;
}


#gallery_img{
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap
}

#gallery_img img {
  width: 30%;
  margin-bottom: 12px;  
}

#gallery_img img:hover {
  opacity: 0.6;
  cursor: pointer;
}

/*////////// 名前表示 /////////*/
#name_inner {
  display: flex;
  justify-content: center; 
  align-items: center; 
  
  margin: 32px auto;
  width: 320px;
  height: 560px;
}

#name {
  font-size:32px;
  font-weight: bold;
  color:#fff
}

#close_name {
  text-align: center;
}




/* ////////スマートフォン用///////////// */

@media screen and (max-width:520px){
  
  /* index.html */
  .wrapper {
    width: 420px;
  }

  .start_btn{
    margin-bottom: 200px;
  }

  /* quiz: .html */

button {
  width: 300px;
}

#question img {
  width: 70%;
}

.result_inner {
  width: 320px;
  height: 560px;
}

}